/* AGREGAR TIPOGRAFIA */
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,700;1,400;1,700&family=Teko:wght@400;500;600;700&display=swap');

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(../IMG/fondo.jpg);
     block-size: cover;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Italianno', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Playpen Sans', cursive;

}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1350px;
    margin: 8% auto;
    background: transparent;
    text-align: center;
    padding: 30px 30px 60px 30px;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Arsenal', sans-serif;
}

p {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'Arsenal', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --color: #17a2ff;
}

a{
    text-decoration: none;
}

.button {
    border: 3px solid rgb(219, 185, 230);
    position: relative;
    overflow: hidden;
    background-color: #d76cf87e;
    color: black;
    transition: all 0.6s ease;
    text-decoration: none;
    padding: 15px 30px;
    margin: 80px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #001a2b;
    box-shadow: 0 0 20px var(--color);
    border-color: var(--color);
    color: rgb(255, 255, 255);
}

.button span:nth-child(n) {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 3px solid;
    transition: all 0.6s ease;
}

.button span:nth-child(1) {
    right: 10%;
    top: -15%;
    background-color: #fff;
}

.button span:nth-child(2) {
    left: 10%;
    bottom: -10px;
}

.button:hover span:nth-child(1) {
    right: 80%;
    transform: rotate(90deg);
    color: var(--color);
    background-color: var(--color);
}

.button:hover span:nth-child(2) {
    left: 80%;
    transform: rotate(90deg);
    color: var(--color);
}

section:hover{
    box-shadow: 0 0 50px #000;
    backdrop-filter: opacity(0.8);
    backdrop-filter: blur(5px);
    transition: 1s;
}